In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('casas.csv', sep=',')

In [24]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [5]:
# colunas = ['tamanho', 'preco']
# df = df[colunas]

In [25]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [26]:
X = df.drop('preco', axis=1) ##data frame menos a variavel resposta

In [27]:
y = df['preco']

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [30]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
modelo

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
modelo.coef_

array([  830.00653222,   762.09006126, 25767.20537933])

In [35]:
modelo.intercept_

-1484640.872167663

In [36]:
modelo.predict([[190, 2001, 2]])

array([249536.99229404])

In [ ]:
{
  "tamanho": 120,
  "ano": 2001,
  "garagem":2
}

In [37]:
import pickle

pickle.dump(modelo, open('modelo.sav', 'wb'))

In [38]:
pip install flask-basicauth

Collecting flask-basicauth
  Using cached Flask-BasicAuth-0.2.0.tar.gz (16 kB)
Requirement already satisfied: Flask in c:\users\videf\anaconda3\lib\site-packages (from flask-basicauth) (1.1.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\videf\anaconda3\lib\site-packages (from Flask->flask-basicauth) (1.1.0)
Requirement already satisfied: click>=5.1 in c:\users\videf\anaconda3\lib\site-packages (from Flask->flask-basicauth) (7.0)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\videf\anaconda3\lib\site-packages (from Flask->flask-basicauth) (1.0.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\videf\anaconda3\lib\site-packages (from Flask->flask-basicauth) (2.11.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\videf\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask->flask-basicauth) (1.1.1)
Building wheels for collected packages: flask-basicauth
  Building wheel for flask-basicauth (setup.py): started
  Building wheel for flask-basicauth (setup.py): finished with status 'done'
  Created wheel for flask-basicauth: filename=Flask_BasicAuth-0.2.0-py3-none-any.whl size=4232 sha256=45561ced0849b9eb12af5793ec35f1593adab5f17ca478c879d8a9eeb342b4f1
  Stored in directory: c:\users\videf\appdata\local\pip\cache\wheels\d5\08\a3\19638d90fdf01258ede772449bcbde424839459749acb977b6
Successfully built flask-basicauth
Installing collected packages: flask-basicauth
Successfully installed flask-basicauth-0.2.0
Note: you may need to restart the kernel to use updated packages.